package.json
yarn.lock
node_modules
yarn-error.log
docs
public
patches
.hugo_build.lock
hugo_stats.json
static/images/favicon*
static/images/*.svg
static/images/background.jpg
static/images/red-lether.jpg
static/images/laborant.svg
static/images/cm.svg
static/images/cm-black.svg
static/images/bill*.png
static/images/tagcloud.svg
static/pdfjs/**
resources
content/**/*-boxed.jpg
content/**/front/
content/**/title/
content/**/cover/
content/**/img*/
content/**/page*/
content/**/end-*/
content/**/front-*/
content/**/front*/
content/**/back/
content/**/back*/
content/**/end/a
content/future/3d/**/*-right.*
content/future/3d/**/*-left.*
content/future/3d/**/*.gif
content/future/3d/**/*.jps
content/**/img*-*.png
content/**/page*-*.png
content/**/img*-*.json
!content/**/img*-map.json
content/**/page*-*.json
!content/**/page*-map.json
**/.DS_Store
**/vips-properties.xml
postcss.config.js
browserslist
.stylelintrc.json
assets/css/fonts
static/fonts
# 3D Models
content/**/*.gtlf
content/**/*.glb
!content/**/uranium.glb
data/stats.json
!content/**/img/*.hdr.jpeg
scripts/__pycache__
tmp*.yuv
tmp*.jpg
Source Files/front.hdr
static/images/cm.*
static/images/logo.*
Source Files/Marmolada/model.blend1
Source Files/Marmolada/clipped.tif.aux.xml
content/**/ogPreview.*g
content/**/ogPreview-tmp*.*g
content/**/ogPreview-overlay.*g
content/**/manifest-enriched.json
assets/css/
models
weights
models-*
assets/map-styles
