$fade-to: #000;
$animation-duration: 750ms !default;

@mixin background-opacity($color, $opacity: 0) {
    background: rgba($color, $opacity);
}

.animated-link-overlay {
  --fade-to: #{$fade-to};
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  /* See https://chriscoyier.net/2023/05/12/add-opacity-to-an-existing-color/ */
  background: color-mix(in srgb, var(--fade-to) 0%, transparent 100%);
  transition-delay: calc(($animation-duration / 3) * 2);
  transition-duration: calc($animation-duration / 3);
  transition-property: background;
  transition-timing-function: ease-in;

  &.light-gray,
  &.post {
    --fade-to: #{$post-background};
  }

  &:has(.container .animate) {
    background: color-mix(in srgb, var(--fade-to) 100%, transparent 0%) !important;
  }

  .container {
    position: relative;

    * {
      transition: all $animation-duration ease-in !important;
      overflow: visible !important;
      word-break: break-all !important;
    }

    .animate {
      font-size: 125em !important;
      text-shadow: 15em 15em, -15em -15em, 15em -15em, -15em 15em !important;
      transform: translate(-25%, -50%);
      width: 250% !important;
      height: 250% !important;
      letter-spacing: -10rem !important;
      transition: all $animation-duration ease-in,
        width $animation-duration ease-out,
        height $animation-duration ease-out, !important;
      color: var(--fade-to) !important;
      background-image: linear-gradient(var(--fade-to), var(--fade-to));
    }
  }
}
