@use 'sass:color';
@use "functions/color" as *;
@use "link" as *;

/*
@import "terminal";
*/

$heading-font: 'League Spartan Variable', sans-serif;
$special-font: 'Newsreader Variable', sans-serif;
$text-font: 'Roboto Mono Variable', sans-serif;
$text-color: rgba(255,255,255,.8);
$color-light: #fff;

$header-height: 4em;
$footer-height: 4em;

$menu-width: 10vw;
$content-width: calc(100vw - $menu-width);

@import "fonts/league-spartan";
@import "fonts/newsreader";
@import "fonts/roboto-mono";
@import "fonts/noto-serif-display";
@import "normalize";
@import "icons";
@import "mirador";
@import "ol-iiif";
@import "iframe-consent";

@import "share";

$font-color-body: $text-color;
$secondary-icon-color: #69c;
$frame-bg-color: var(--base01);
$color-body-text: var(white);
$fullscreen-color: var(--base07);
@import "menu";
@import "featured";
@import "list";
@import "link";

/* Site includes */
@import "footer";

/*
$clipmask: '/images/svgs/glasses_background-clippath.svg#clipPath';
@import "header";
@import "nav";
@import "page";
@import "404";

@import "tagcloud";
*/


:where(:focus-visible) {
    outline: .1875rem dashed #000;
    outline-offset: .125rem;
    z-index: 99;
}

:root {
  --text-font: $text-font;
  --heading-font: $heading-font;
  --menu-text-color: white;
}

html {
  scroll-behavior: smooth;
}

html,body {
  margin: 0;
  height: 100%;
}

h1, h2, h3 {
  font-family: $heading-font;
}

body {
  margin: 0;
  place-items: center;
  min-width: 100%;
  min-height: 100vh;
  width: 100%;
  font-family: $text-font;
  display: flex;
  flex-direction: column;


  &.meta {
    .post-body {
      margin-bottom: 3.4em;
    }
  }

  &.section {
    .main .article-single {
      max-width: unset;
    }
  }
}

.main {
  width: $content-width;
  align-self: flex-end;
  min-height: calc(100vh - $header-height - $footer-height);
}

.animated_underline {
  @include underline-link;
}
