@use 'sass:color';
@use "functions/color" as *;
@use "link" as *;

/*
@import "terminal";
*/

$heading-font: 'League Spartan Variable', sans-serif;
$special-font: 'Newsreader Variable', sans-serif;
$text-font: 'Roboto Mono Variable', sans-serif;
$text-color: rgba(255,255,255,.8);
$color-light: #fff;
$color-dark: #000;
$post-background: #e0e0e0;
$meta-background: #eee;
$term-background: #bababa;
$icon-fill: $color-dark;
$animation-duration: 750ms;
$page-elements-duration: 1600ms;
$show-page-duration: $animation-duration;
$header-height: 4rem;
$button-width: 3rem;
$button-height: 3rem;
$button-padding: 1.6rem;
$scale-factor: 1.05;
$accent-color: color.adjust(black, $lightness: 90%);
$text-font-size: 1rem;
$map-font-site: 1rem;
$ol-touch-botton-size: 1.2rem;
$image-zoom-width: 1080px;
$menu-width: 10vw;

@import "fonts/league-spartan";
@import "fonts/newsreader";
@import "fonts/roboto-mono";
@import "fonts/noto-serif-display";

@import "normalize";
@import "mirador";
@import "ol-iiif";
@import "share";
@import "maps/projektemacher";

$font-color-body: $text-color;
$secondary-icon-color: #69c;
$frame-bg-color: var(--base01);
$color-body-text: var(white);
$fullscreen-color: var(--base07);

/* Site includes */
@import "home";
@import "never-build-icons";
@import "animated-link";
@import "header";
@import "footer";
@import "menu";
@import "featured";
@import "list";
@import "toc";
@import "scrollify";
@import "link";
@import "section";
@import "404";
@import "pagination";
@import "never-build-map";
@import "never-build-gallery";
@import "page";
@import "headings";
@import "never-build-iiif";
@import "chart";
@import "content";
@import "model";
@import "term";

:where(:focus-visible) {
    outline: .1875rem dashed #000;
    outline-offset: .125rem;
    z-index: 99;
}

:root {
  --text-font: #{$text-font};
  --heading-font: #{$heading-font};
  --menu-text-color: white;
  --page-background: white;
  --text-font-size: #{$text-font-size};
  --image-zoom-width: #{$image-zoom-width};

  @media (min-width: 768px) {
    --main-margin: 2rem;
    --content-width: calc(100vw - (#{$button-padding} * 2 + #{$button-width}) - var(--main-margin) * 2);
    --text-font-size: calc(#{$text-font-size} * 1.6);
  }

  @media (min-width: 1200px) {
    --main-margin: 2rem;
    --content-width: calc(100vw - (#{$button-padding} * 2 + #{$button-width}) - var(--main-margin) * 2);
    --text-font-size:
    --text-font-size: calc(#{$text-font-size} * 1.8);
  }
}

html {
  scroll-behavior: smooth;
}

html,body {
  margin: 0;
  /*font-size: calc($text-font-size - .6rem);*/
}

h1, h2, h3 {
  font-family: $heading-font;
}

body {
  margin: 0;
  place-items: center;
  min-width: 100%;
  min-height: 100vh;
  width: 100%;
  font-family: $text-font;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  /*background-color: var(--page-background);*/

  @media (min-width: 768px) {
    .main:has( .article-list.book) {
      display: flex;
      flex-direction: column;
      height: 100%;
      /*
      overflow-y: auto;
      scroll-snap-type: y proximity;
      overflow: auto;
      */
    }
  }

  /*
  &.meta {
    .post-body {
      margin-bottom: 3.4em;
    }
  }
  */

  &.section {
    .main .article-single {
      max-width: unset;
    }
  }

}

.main {
  width: 95%;
  margin: 0 auto;
  margin-top: calc(2rem - $button-height + $button-padding * 2);
  font-size: 1.6rem;

  @media (min-width: 768px) {
    font-size: 1rem;
    width: calc(var(--content-width) - var(--main-margin));
    align-self: flex-end;
    margin: unset;
    margin-bottom: auto;
    margin-right: var(--main-margin);
    margin-top: 9.5rem;
  }

  h1 {
    margin-block-start: .6em;
    margin-block-end: .6em;
  }

}

.animated_underline {
  @include underline-link;
}

.download-link {
  float: right;
  margin-right: 1em;
}
