.section-post:has(.main .article-list.book) {

  .post.section {
    scroll-snap-align: start;
  }

  .article-list.book {

    /*overflow-y: scroll;*/
    display: flex;
    flex-direction: column;
    scrollbar-width: none;
    /*
    height: 100%;
    max-height: 100vh;
    */

    .list-item.article {
      scroll-snap-align: start;

      @media (min-width: 768px) {
        min-height: 75vh;
      }


      h2.headline {
        color: black;
        a {
          @include underline-link();
        }
      }
    }
  }
}
