$text-font-size: 1rem !default;

.content-container {
  .footnotes,
  .footnotes-ref {
    display: none;
  }

  .summary:has( + .content-section.summary) {
    display: none;
  }
}

.article-single .content-container  {
  font-size: calc($text-font-size * 1.6);
}

.article-single {
  .meta-page-intro {
    margin-bottom: 2rem;
    font-size: x-large;
  }
}
