$text-font-size: 1rem !default;

.content-container {
  .footnotes,
  .footnotes-ref {
    display: none;
  }

  .summary:has( + .content-section.summary) {
    display: none;
  }
}

.article-single .content-container  {
  font-size: calc($text-font-size * 1.6);
}

.meta-page-intro {
  text-align: center;
  margin-bottom: 2rem;
  font-size: x-large;

  @media (min-width: 768px) {
    text-align: unset;
  }
}
