@use "link" as *;

.footer {
  font-family: $heading-font, sans-serif;
  padding-top: .8rem;
  margin-top: 1.4rem;
  width: 100%;
  border-top: 5px solid black;
  font-size: x-large;
  font-weight: 600;
  align-self: flex-end;
  margin-right: var(--main-margin);

  @media (min-width: 768px) {
    width: calc(var(--content-width) - var(--main-margin));
    overflow: hidden;
  }

  .menu-container.menu-footer {
    display: flex;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: -2px;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      height: 2px;
    }

    .menu {
      width: 80%;
      margin: auto;
      background-clip: text;
      color: transparent;
      background-size: 200% 200%;
      animation: moving-gradient alternate 5s infinite;
      width: 100%;


      .menu-footer-items {
        padding-inline-start: unset;
        width: 90%;
        margin-block-start: unset;
        margin-block-end: unset;
        align-items: center;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: auto;

        @media (min-width: 768px) {
          display: flex;
          justify-content: space-between;
          flex-direction: row;
          column-count: unset;
          height: 2rem;
          width: 96%;
        }

        .menu-item {
          margin-bottom: .4rem;

          @media (min-width: 768px) {
            margin-bottom: unset;
          }
        }

        a {
          color: black;
          @include underline-link();
        }
      }
    }
  }

  .footer-container {
    $text-color: black;
    padding-top: .8em;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    font-size: small;
    font-weight: 200;
    margin-bottom: .2rem;

    a {
      text-decoration: none;
      color: $text-color;

      &:visited {
        color: $text-color;
      }

      &:hover {
        color: $text-color;
      }
    }

    .projektemacher {
      img {
        vertical-align: middle;
      }
    }

    p {
      font-size: 1em;
      text-align: center;
      margin-block-start: unset;
      margin-block-end: unset;

    }

    .privacy {
      font-size: smaller
    }
  }
}
