@use "halftone" as *;
@use "link" as *;
@use 'sass:color';

$accent-color: color.adjust(black, $lightness: 90%) !default;

.header {
  width: 100vw;
  align-self: flex-end;
  height: calc($button-height + 2 * $button-padding);
  font-size: 1em;
  z-index: 10;

  @media (min-width: 768px) {
    height: unset;
    width: var(--content-width);
  }

  .header-background {
    max-width: fit-content;
    display: flex;
    position: fixed;
    left: calc($button-width + 2 * $button-padding);
    right: 0;
    background-color: var(--page-background);
    /*
    mix-blend-mode: exclusion;
    */
    z-index: 11;
    height: calc($button-height + 2 * $button-padding);
    padding-left: .8rem;
    align-items: center;

    @media (min-width: 768px) {
      position: unset;
      left: unset;
      right: unset;
      z-index: unset;
      /*
      background-color: $accent-color;
      */
      height: unset;
      padding-top: unset;
      padding-left: unset;
    }

    a {
      text-decoration: none;
      cursor: default;
      width: max-content;
      display: inline-block;

      @media (min-width: 768px) {
        @include halftone($radius: 0.1rem, $cirle-color: black, $background-color: transparent, $background-size: 0.35rem);
      }
    }

    .header-title {
      font-size: 5vh;
      font-weight: 800;
      color: black;
      margin-top: unset;
      /*background-color: #fff;*/
      background-color: var(--page-background);
      margin-bottom: 0;
      overflow-wrap: break-word;
      max-width: 100vw;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: currentColor;
        mix-blend-mode: difference;
      }

      @media (min-width: 768px) {
        font-size: 5.5em;
        /*mix-blend-mode: screen;*/
        mix-blend-mode: lighten;

      }
    }
  }
}
