@use "halftone" as *;
@use "link" as *;
@use 'sass:color';

.header {
  width: $content-width;
  align-self: flex-end;
  height: calc($button-height + 2em);

  @media (min-width: 768px) {
    /*margin-top: 10vh;*/
  }

  .header-background {
    background-color: color.adjust(black, $lightness: 90%);
    max-width: fit-content;
    display: flex;
    min-height: calc($button-height + 2em);


    a {
      text-decoration: none;
      cursor: default;
      width: max-content;
      @include halftone($radius: 0.19rem, $cirle-color: black, $background-color: transparent, $background-size: 0.6rem);
      display: inline-block;
    }

    .header-title {
      font-size: 5vh;
      font-weight: 800;
      color: black;
      margin-top: unset;
      background-color: #fff;
      margin-bottom: 0;
      overflow-wrap: break-word;
      max-width: 100vw;

      @media (min-width: 768px) {
        font-size: 5.5em;
        mix-blend-mode: screen;
      }
    }
  }
}
