@use 'sass:color';

$accent-color: color.adjust(black, $lightness: 90%) !default;

@mixin underline-link ($thickness: 0.3ex, $color: #000, $duration: .45s) {
  text-decoration: none;
  background-image: linear-gradient($color, $color);
  background-position: 0 90%;
  background-repeat: no-repeat;
  background-size: 0 .3ex;
  background-size: 0 $thickness;
  padding-bottom: calc(1.5 * $thickness);
  transition: background-size $duration ease;

  &:hover {
    background-size: 100% .3ex;
    background-size: 100% $thickness;
  }
}

@mixin scale-link ($factor: 1.1) {
  text-decoration: none;
  transition: transform .3s ease;

  &:hover {
    transform: scale($factor);
  }
}

/* See https://css-tricks.com/taming-blend-modes-difference-and-exclusion/ */
@mixin invert-link ($color: color-mix(in srgb, var(--page-background), black 10%), $blend-mode: color-burn, $initial: 0, $height: 0.5, $duration: .45s) {
  text-decoration: none;
  position: relative;

  &:focus {
    outline: none
  }

  &:focus,
  &:hover {
    &::after {
      transform: scaleY($height);
    }
  }

  &:after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: color-mix(in srgb, var(--page-background), black 10%);
    /**background: $color;*/
    content: '';
    transform-origin: 0 100%;
    transform: scaleY($initial);
    transition: transform $duration;
    mix-blend-mode: $blend-mode;
  }
}

@mixin invert-button ($duration: .45s) {
  position: relative;
  color: #fff;
  mix-blend-mode: difference;

  &:after {
    content: '';
    background-image: linear-gradient(black, black);
    background-position: 0 90%;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    mix-blend-mode: difference;
    background-color: white;
    transition: all $duration;
  }

  &:hover {
    &:after {
      background-size: 100% 100%;
    }
  }
}
