@mixin underline-link ($thickness: 0.3ex, $color: #000) {
  text-decoration: none;
  background-image: linear-gradient($color, $color);
  background-position: 0 90%;
  background-repeat: no-repeat;
  background-size: 0 .3ex;
  background-size: 0 $thickness;
  padding-bottom: calc(1.5 * $thickness);
  transition: background-size .3s ease;

  &:hover {
    background-size: 100% .3ex;
    background-size: 100% $thickness;
  }
}
