.list {

  h2.headline {
    color: black;
    a {
      @include underline-link();
    }
  }

  .post,
  .book {
    .list-item-head {
      display: flex;
    }
  }

  .post {
    .list-item {
      display: flex;

      .list-item-head {
        flex-direction: column;
      }

      .meta {
        width: fit-content;
      }
    }
  }

  .book {
    padding: 1em 0;

    .list-item-head {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .headline {
        order: 1;
        font-size: 3em;
        font-weight: 600;

        a {
          color: black;
        }
      }

      .cover-preview {
        order: 2;
      }

      .meta {
        display: none;
      }
    }

  }

  &:has(.post .book) {
    margin-right: 3em;
  }

  a,
  a:active,
  a:focus,
  a:hover,
  a:visited {
    color: var(--text-color);
    text-decoration: none;
  }

}
