
.list {
  width: 90%;
  margin: auto;

  &:has(.books) {
    width: 100%;
  }
  /*
  .post-title {
    font-size: 4rem;
  }
  */

  h1, h2, h3 {
    width: 100%;
    word-wrap: break-word;
    word-wrap: normal;
    hyphens: auto;
  }

  h2.headline {
    color: black;
    a {
      @include underline-link();
    }
  }

  .post,
  .book {
    .list-item-head {
      display: flex;
    }
  }

  .tag-list-title {
    font-size: xx-large;

    @media (min-width: 768px) {
      margin: -1.4rem 5% 1rem !important;
    }
  }

  .section-head + .post {
    margin-top: 1.6em;
  }

  .post {

    .list-item {
      display: flex;
      flex-direction: column;

      .list-item-head {
        flex-direction: column;

        @media (min-width: 768px) {
          display: grid;
          width: 100%;
          grid-template-columns: 1fr;
        }

        .meta {
          display: none;;

          @media (min-width: 768px) {
            display: block;
            width: fit-content;
            justify-self: flex-end;
            font-size: small;
          }
        }
      }

      .summary {
        flex-basis: 100%;
        display: flex;
        flex-direction: column;


        &:after {
          content: '';
          width: 80%;
          display: inline-flex;
          justify-self: center;
          margin: auto;
          height: .3ex;
          background-color: #000;
          margin: 1.6rem auto;

          @media (min-width: 768px) {
            width: 60%;
          }
        }
      }

    }
  }

  .book,
  .post {


    &:last-child .list-item-head {
      .list-item,
      .cover-preview:after {
        display: none;
      }
    }
  }


  .book {
    @media (min-width: 768px) {
      padding: 1em 0;
    }

    .list-item-head {
      .headline {
        order: 1;
      }

      .cover-preview {
        order: 2;
        min-width: 90%;

        @media (min-width: 768px) {
          min-width: unset;
        }

        .preview {
          width: 100%;

          @media (min-width: 768px) {
            width: unset;
          }
        }

        &:after {
          content: '';
          width: 100%;
          display: inline-flex;
          justify-self: center;
          margin: auto;
          height: .3ex;
          background-color: #000;
          margin: 2rem auto;

          @media (min-width: 768px) {
            display: none;
          }
        }
      }

      .meta {
        display: none;
      }
    }

  }

  &:has(.post .book) {
    margin-right: 3em;
  }

  .books {
    .list-item-head .headline {
      @media (min-width: 768px) {
        font-size: 3em;
      }
    }
  }
}

.list,
.article-list.book {
  .list-item-head {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    @media (min-width: 768px) {
      flex-direction: row;
    }

    .headline {
      font-size: 2em;
      font-weight: 600;
      text-align: center;
      margin-block-start: unset;

      @media (min-width: 768px) {
        text-align: unset;
      }

      a {
        color: black;
      }
    }
  }

  a,
  a:active,
  a:focus,
  a:hover,
  a:visited {
    color: var(--text-color);
    text-decoration: none;
  }
}
