$button-width: 2em;
$button-height: 2em;

@use "halftone" as *;
@use "link" as *;
@use 'sass:math';

/* See https://css-tricks.com/snippets/sass/strip-unit-function/
@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}
*/

header .menu {
  position: fixed;
  height: 80vh;
  left: 0;
  top: 10vh;
  /* background: radial-gradient(circle at center, black 0.25rem, transparent 0); */
  z-index: 10;
  max-width: 30vw;
  font-family: $heading-font;
  font-weight: 600;


  /*
  @include halftone ($radius: 0.15rem, $cirle-color: white, $background-color: black);
  */

  /*
  background-image: radial-gradient(
      circle at center,
      black 0.4rem,
      transparent 0
    ), radial-gradient(circle at center, black 0.4rem, transparent 0);
  background-size: 1.3rem 1.3rem;
  background-position: 0 0, 0.65rem 0.65rem;
  */

  /*
    box-shadow: 1px 1px 2px black;
    transform: translateX(-60%);
  */


  nav {
    height: 100%;
    font-size: 1.6em;

    #menu-toggle {
      display: none;

      &:checked + label {

        + ul {
          transform: unset;
        }

        .menu-icon {
          transform: rotateZ(-45deg);
          transform-origin: top right;
          width: math.hypot($button-width, $button-width);

          &:before {
            opacity: 0;
            transform: scale(0);
            top: 0;
            transform: rotateZ(45deg);
          }

          &:after {
            width: math.hypot($button-width, $button-width);
            transform: rotateZ(90deg) translateX(0 - math.hypot($button-width, $button-width) / 2 - ($button-height / 5) / 2);
          }
        }
      }
    }

    label.menu-button {
      font-size: unset;
      padding: 1em;
      position: fixed;
      top: 10vh;
      z-index: 10;

      /* Add this: https://codepen.io/singhimalaya/pen/mNOJPM */

      .menu-icon {
        transition: all 300ms;
        display: inline-block;
        height: $button-height / 5;
        width: $button-width;

        background-color: #fff;
        position: relative;

        &:before,
        &:after {
          transition: all 300ms;
          content: '';
          height: $button-height / 5;
          width: $button-width;
          background-color: #fff;
          display: inline-block;
          border-radius: 1.5px;
          position: absolute;
        }

        &:before {
          top: $button-height / 5 * 2;
        }

        &:after {
          top: $button-height / 5 * 4;

        }

      }

    }

    input {
      display: none;
    }

    ul {
      transition: transform 300ms;
      transform: translateX(-5em);
      padding-top: calc(1em * 2 + $button-height);
      padding-bottom: 1em;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: calc(100% - (1em * 2 + $button-height));
      padding-inline-start: 0;
      margin-block-start: 0;
      background-color: #000;

      .navigation-item {
        display: flex;
        flex-direction: row;
        overflow: hidden;
        align-items: center;
      }

      li {
        .navigation-link {
          min-width: 8em;
          display: flex;
          justify-content: space-between;
          margin-left: 1em;
          align-items: center;
          @include underline-link($color: white);
        }

        .link-icon {
          margin-right: 1em;
          height: $button-height;
          display: inline-block;



          &:after {
            width: $button-width;
            display: inline-block;
            vertical-align: middle;
          }
        }

        &.navto- {
          .link-icon:after {
            content: url($house-light);
          }
        }

        &.navto-books {
          .link-icon:after {
            content: url($book-light);
          }
        }


        &.navto-map {
          .link-icon:after {
            content: url($map-light);
          }
        }

        &.navto-links {
          .link-icon:after {
            content: url($link-light);
          }
        }

        &.navto-about {
          .link-icon:after {
            content: url($info-light);
          }
        }

      }

    }


  }

  a,
  a:active,
  a:focus,
  a:hover,
  a:visited {
    color: var(--menu-text-color);
    text-decoration: none;
  }
}
