

.iiif {
  margin: auto;

  @media (min-width: 768px) {
    margin: unset;
  }

  .iiif-image {
    font-size: $map-font-size;
    padding: unset;

    .ol-viewport {
      border-radius: unset;
    }

    .share {
      margin-right: 1rem;

      a,
      a:active,
      a:focus,
      a:hover,
      a:visited {
        color: var(--text-color);
        text-decoration: none;
      }

      @media (min-width: 768px) {
        a:last-child {
          margin-right: 1rem;
        }
      }

      .iiif-link .iiif-iiif {
        filter: grayscale(1);
      }
    }
    .viewer {
      margin: auto;
      width: 100%;

      @media (max-width: 37.5em) {
        width: 100%;
        height: calc(95vw * 1.4142);
      }
    }
  }
}

.section-single {
  .iiif {
    margin: auto;
  }

  .post.section {
    .post-content {
      .iiif .iiif-image {
        width: 50%;
      }
    }
  }
}

.main {

  .article-single,
  .section-single {
    .meta,
    .post .content .original-pages {
      .iiif {

        .viewer {
          @media (min-width: 768px) {
            width: 80%;
          }
        }


        &:only-of-type .viewer {
          margin: auto;
        }
      }
    }
  }
}
