.ol-viewport {
  border-radius: unset;
}

.iiif .iiif-image {
  font-size: $map-font-size;
  
  .share {
    a,
    a:active,
    a:focus,
    a:hover,
    a:visited {
      color: var(--text-color);
      text-decoration: none;
    }

    .iiif-link .iiif-iiif {
      filter: grayscale(1);
    }
  }
  .viewer {
    margin: auto;
  }
}

.section-single {
  .post.section {
    .post-content {
      .iiif .iiif-image {
        width: 50%;
      }
    }
  }
}
