$show-page-duration: 500ms !default;
$page-elements-duration: 1600ms !default;

@mixin enlage-button () {
  content: "⤢";
  border: .3ex solid #000;
  display: block;
  margin: 1px;
  padding: 0;
  color: black;
  font-weight: bold;
  text-decoration: none;
  font-size: inherit;
  text-align: center;
  height: 1.375em;
  width: 1.375em;
  background-color: white;
  position: absolute;
  right: 2rem;
  top: 2rem;
  /*z-index: 99;*/
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes italics {
  from {
    transform: skewX(0deg);
  }

  to {
    transform: skewX(-10deg);
  }
}

body {
  &.section-post,
  &.section-books,
  &.section-.meta,
  &.section-.home,
  &.meta {
    * :not(.header-title) {
      animation-name: fade-in;
      animation-duration: $show-page-duration;
      animation-fill-mode: forwards;
    }
  }

  &.section-post {
    --page-background: #{$post-background};
    background: var(--page-background);
  }

  &.section-.meta,
  &.section-book {
    --page-background: #{$meta-background};
    background: var(--page-background);
  }

  &.section-tags {
    --page-background: #{$term-background};
    background: var(--page-background);
  }

  .article-single .post .content .post-body {
    .post-content {

    }
  }

  .post {
    .meta {
      display: flex;
      flex-direction: column;

      @media (min-width: 768px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin-top: 2.4rem;
        flex-direction: row;
        justify-content: space-between;

        .parent-section {
          align-self: flex-end;
        }
      }

      .parent-section-heading {
        display: flex;
        font-size: xx-large;
        margin-block-start: unset;
        margin-block-end: unset;
        align-items: flex-end;
        margin-bottom: .6rem;
      }

      .parent-section {
        align-self: start;
        grid-column-start: 1;
        grid-row-start: 2;
      }

      .tag-container {
        grid-row: span 2 / span 2;
        grid-column-start: 2;
        grid-row-start: 1;
      }
    }
  }
}

.content {
  .date {
    /*margin-top: -2.4rem;*/
    margin-top: 1rem;
    display: block;
    margin-bottom: 2rem;
    text-align: end;
    font-size: smaller;
    color: color.adjust(black, $lightness: 50%);
  }
}

.main {

  .article-single,
  .section-single {
    .post .content  {

      .post-title {
        word-wrap: break-word;

        @media (min-width: 768px) {
          word-wrap: unset;
        }

      }

      .featured {
        justify-content: center;

        .featured-image {
          position: relative;
          min-width: 75%;
          margin: 3rem auto;

          @media (max-width: $image-zoom-width) {
            &:after {
              @include enlage-button;
            }
          }
        }

        img {
          min-width: 100%;

        }
      }

      .post-summary {
        font-size: calc($text-font-size * 1.8);
        text-align: center;

        @media (min-width: 768px) {
          text-align: unset;
        }

      }

      .post-body {
        flex-wrap: wrap;
        flex-direction: column;

        .sub-section-heading {
          flex-basis: 100%;
        }

        figure {
          clear: both;
          max-width: 75%;
          margin: auto;
          padding-top: 3rem;
          margin-block-start: unset;
          margin-block-end: unset;
          position: relative;
          font-size: 1rem;

          @media (max-width: $image-zoom-width) {
            &:after {
              @include enlage-button;
              top: calc(3rem + 2rem);
            }
          }

          img {
            max-width: unset;
            width: 100%;
          }

          figcaption {
            font-style: italic;
            font-size: smaller;
            text-align: end;
            /*background: rgba(0, 0, 0, .1);*/

            p {
              margin-block-start: 1rem;
            }
          }
        }
      }
    }

    .content-container .content-section.summary {
      display: none;
    }

    img {
      max-width: 100%;
      margin: auto;

      @media (min-width: 768px) {
        max-width: 40%;
      }
    }

    .meta,
    .post .content .post-body {
      .iiif {
        .viewer {
          width: 80%;
        }

        &:only-of-type .viewer {
          margin: auto;
        }
      }
    }
  }

  .article-single {
    overflow: hidden;

    @media (min-width: 768px) {
      overflow: unset;
    }

    .post .content {
      .post-title {

      }

      .parent-section,
      .post-body {

        h1 {
          font-size: 1.6em;
          word-break: break-all;
        }

        a :not( :has(img[data-gallery-image])) {
          @include invert-link($color: $accent-color);
          color: black;
          text-decoration-style: dotted;
          text-decoration-line: underline;
          text-decoration-thickness: 1px;
          text-decoration-skip-ink: auto;

          &:hover {
            text-decoration: none;
          }
        }
      }

    }
  }

  .post-body {
    p:first-child {
      margin-block-start: 1.6em;
    }
  }
}

.tag-container {
  text-align: end;
  margin-top: 1.6rem;

  @media (min-width: 768px) {
    margin-top: unset
  }

  .tags-heading {
    font-weight: 200;
    font-size: 2rem;

    @media (min-width: 768px) {
      margin-bottom: .4rem;
      transform: skewX(3deg);
    }
  }

  .tags {
    font-weight: 100;
    font-style: italic;
    font-size: 2rem;
    word-wrap: break-word;

    @media (min-width: 768px) {
      text-align: end;
      word-wrap: unset;
    }

    a {
      display: block;
      color: black;
      text-decoration: none;
    }
  }
}

i.book-reference {
  &:after {
    content: url($book-dark);
    /*margin-right: 1rem;*/
    height: 1rem;
    width: 1rem;
    display: inline-block;

    @include scale-link($factor: $scale-factor);

    @media (min-width: 768px) {
      vertical-align: middle;
    }
  }
}

.article-single,
.parent-section {
  a {
    @include invert-link($color: $accent-color);
    color: black;
    text-decoration-style: dotted;
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    text-decoration-skip-ink: auto;

    &:hover {
      text-decoration: none;
    }
  }
}

.content .footnotes {
  padding-top: 2rem;
  width: 80%;
  margin: auto;

  hr {
    height: 0;
    color: black;
    border: .3ex solid black;
    position: relative;
  }
}

/* Animations */

@keyframes slide-in-right {
  from {
    transform: translateX(100vw);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slide-in-left {
  from {
    transform: translateX(-100vw);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes fade-in-bounce {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  70% {
    transform: scale(1.03);
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes slide-in-bottom {
  from {
    transform: translateY(10%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.section-post .main .scroll-trigged {
  overflow: hidden;
  .content {

    .post-body > .map-wrapper {
      animation-name: slide-in-right;
      animation-duration: $page-elements-duration;
      animation-fill-mode: forwards;
    }

    .post-content {

      .map-wrapper.show {
        animation-name: slide-in-bottom;
        animation-duration: $page-elements-duration;
        animation-fill-mode: forwards;
      }

      .content-container {
        text-align: justify;
        hyphens: auto;

        @media (min-width: 768px) {
          text-align: unset;
          hyphens: unset;
        }

        .content-section {

          figure.show {
            animation-duration: $page-elements-duration;
            animation-timing-function: ease-out;
            animation-fill-mode: forwards;

            &:only-of-type {
              animation-name: fade-in-bounce;
            }

            &:not(:only-of-type) {
              &:nth-of-type(even) {
                animation-name: slide-in-left;
              }

              &:nth-of-type(odd) {
                animation-name: slide-in-right;
              }

            }
          }
        }
      }

    }

  }
}
