html:has(.scroll-layout) {
  scroll-snap-type: y proximity;
}

.section-post:has(.main .article-list.book) {

  /*
  .post.section {
    scroll-snap-align: start;
  }
  */

  .article-list.book {
    display: flex;
    flex-direction: column;
    scrollbar-width: none;

    .list-item.article {

      @media (min-width: 768px) {
        min-height: 75vh;
      }


      h2.headline {
        color: black;
        a {
          @include underline-link();
        }
      }
    }
  }
}

.scroll-layout {
  .scroll-item {
    scroll-snap-align: start;
    height: fit-content;
    min-height: 75vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;

    &:last {
      margin-bottom: unset;
    }

    @media (min-width: 768px) {
      .map-wrapper {
        min-height: unset;
        width: 40vw;
        aspect-ratio: 1 / 1;

      }
    }

    .post-content {
      display: none;
    }

    .scroll-header {
      display: flex;
      align-items: center;
      margin-bottom: 2rem;
      flex-direction: column;
      justify-content: space-between;

      @media (min-width: 768px) {
        flex-direction: row;
      }

      .scroll-title {
        margin-block-start: unset;
        margin-block-end: unset;


        @media (min-width: 768px) {
          width: 50%;
        }
      }

      .date {
        @media (min-width: 768px) {
          width: 40%;
        }
      }
    }

    .preview-container {
      height: max-content;
      position: relative;
      display: flex;
      flex-direction: column;

      .scan-container {
        position: relative;
        display: flex;
        order: 0;

        .preview.scan {
          max-width: unset;
        }

        &.odd {
          justify-self: end;
        }

        &.even {
          justify-self: start;
        }

        .cover-link {
          position: absolute;
          top: 0;
          left: 0;

          &:first {
            position: relative;
          }

          &:has(.overlay) {
            z-index: +1;
          }

          .preview {
            max-width: unset;
          }
        }
      }

      @for $i from 1 through 5 {
        a:has(.img-#{$i}) {
          order: #{$i};
          margin-top: 3rem;
        }
      }
    }

    @for $i from 1 through 9 {
      .layer-#{$i} {
        position: relative;
        z-index: #{$i};
      }
    }

    &.odd {
      .scroll-title {
        justify-self: start;
        order: 1;
      }

      .date {
        @media (min-width: 768px) {
          order: 2;
          text-align: end;
        }
      }
    }

    &.even {
      .scroll-title {
        justify-self: end;
        text-align: right;

        @media (min-width: 768px) {
          order: 2
        }
      }
      .date {
        order: 1;
      }
    }
  }
}

/* Simple CSS Effects */

@keyframes text-box-fade-in {
  from {
    background-color: rgba(255, 255, 255, 0);
    padding: 0;
  }

  to {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 2rem;
  }
}

.effect {
  p {
    position: relative;
  }

  &.content-box-fade {
    p {
      &:before {
        content: contents;
        position: absolute;
        animation-name: text-box-fade-in;
        animation-duration: 3000;
        animation-fill-mode: forwards;
      }
    }

  }

}
