.section-tags {
  .tag-list-content {
    /* Increase margin to compensate missing date */
    margin-top: calc(3rem + 1rem * .84);
    font-size: 1.8rem;
    hyphens: auto;

    @media (min-width: 768px) {
      hyphens: unset;
    }
  }

  .chart-figure {
    float: right;
    min-width: 60%;

    @media (min-width: 768px) {
      min-width: unset;
      padding-left: 1rem;
      padding-bottom: 1rem;
    }

    .chart-caption {
      font-size: small;
      padding-top: .6rem;
      text-align: right;
    }
  }

  .post {
    clear: inline-end;

    @media (min-width: 768px) {
      padding-top: 3rem;
    }
  }
}

.term-meta-container {
  padding: 1rem;
  margin-top: 1.6rem;
  background-color: rgba(255, 255, 255, 0.3);
  margin-bottom: 2rem;
  flex-basis: 100%;

  @media (min-width: 768px) {
    flex-basis: 50%;
    max-width: 60%;
  }

  .term-meta-heading {
    margin-block-start: calc(0.83em - 1rem);
  }

  .term-meta-list {
    margin-block-start: unset;
    margin-block-end: unset;
    padding-inline-start: unset;

    @media (min-width: 768px) {
      width: calc(100% - 1rem);
      margin-left: 1rem;
      list-style-type: none;
      display: grid;
      grid-template-columns: auto auto;
    }
  }

}
