{{ define "title" }}
  {{ .Title }} · {{ .Site.Title }}
{{ end }}

{{ define "content" }}
  <main role="main" class="section-single">
    {{- if eq .Kind "section" -}}
      <div class="post section">
        {{- partial "post-header.html" . -}}
        <div class="post-body">
          <div class="post-content">
            {{ .Content }}
          </div>

        </div>
      </div>
    {{- end -}}
    {{- partial "book-toc.html" . -}}

    {{- if and (isset .Params "type") (eq .Params.type "book") -}}
      <div class="meta">
        {{- if or .Page.Params.iiifcontext .Page.Params.iiif.context -}}
          {{- partial "iiif/iiif-content.html" . -}}
        {{- end -}}
        {{- partial "section-meta.html" . -}}
      </div>
    {{- end -}}

  </main>
{{- end -}}
