{{ define "title" }}
  {{ .Title }} · {{ .Site.Title }}
{{ end }}

{{ define "content" }}
  <main role="main" class="section-single">
    {{- if eq .Kind "section" -}}
      <div class="post section">
        {{- partial "post-header.html" . -}}
        <div class="post-body">
          {{- partial "content.html" . -}}
          {{- if and (isset .Params "type") (eq .Params.type "book") -}}
            {{- if or .Page.Params.iiifcontext .Page.Params.iiif.context -}}
              {{- partial "iiif/iiif-content.html" . -}}
            {{- end -}}
          {{- end -}}
          {{- partial "section-meta.html" . -}}
        </div>
      </div>
    {{- end -}}
    {{- $pages := .CurrentSection.RegularPages -}}
    {{- if gt (len $pages) 0 -}}
      <div class="article-list-heading">{{ i18n "section-heading" }} {{ i18n (printf "section-%s" (.Param "type")) }}</div>
      <div class="article-list">
        {{- if eq .Kind "section" -}}
          {{- $pages = where $pages "Path" "!=" .Path -}}
        {{- end -}}
        {{- range $pages -}}
          {{- partial "list-item.html" . -}}
        {{- end -}}
      </div>
    {{- end -}}
  </main>
{{- end -}}
