{{ define "title" }}
  {{ .Title }} · {{ .Site.Title }}
{{ end }}

{{ define "content" }}
  {{- if and (isset .Params "type") (eq .Params.type "book") -}}
    <h1 class="section-title">{{ .Title }}</h1>
  {{- end -}}
  <main role="main" class="section-single">
    {{- if eq .Kind "section" -}}
      <div class="post section">
        {{- partial "post-header.html" . -}}
        <div class="post-body">
          <div class="post-content">
            {{ .Content }}
          </div>
        </div>
      </div>
    {{- end -}}
    {{- partial "toc.html" . -}}
    {{- partial "scrollify/scrollify.html" . -}}

    {{- if and (isset .Params "type") (eq .Params.type "book") -}}
      <div class="meta">
        <div class="original-pages">
          {{- if or .Page.Params.iiifcontext .Page.Params.iiif.context -}}
            <h2 class="sub-section-heading">
              {{- if gt (len .Params.resources) 1 -}}
                {{- i18n "originalPages" -}}
              {{- else -}}
                {{- i18n "originalPage" -}}
              {{- end -}}
            </h2>
            <h3 class="meta-cover-title">{{ i18n "front" }}</h3>
            {{- if or .Page.Params.iiifcontext .Page.Params.iiif.context -}}
              {{- partial "iiif/iiif-content.html" . -}}
            {{- end -}}
          {{- end -}}
        </div>
        {{- partial "section-meta.html" . -}}
      </div>
    {{- end -}}

  </main>
{{- end -}}
