remus-architektur-heute/nikolausberg/blueprint.jpg
remus-architektur-heute/weende-an-der-lutter/blueprint.jpg
remus-architektur-heute/nikolausberg/cut-1.jpg
remus-architektur-heute/nikolausberg/cut-2.jpg
modell-fotos-1994/north.jpg
modell-fotos-1994/medical-center.jpg
modell-fotos-1994/central.jpg
staedte-forum-1-71-goettingen/mpi/model-planned.jpg
staedte-forum-1-71-goettingen/mpi/blueprint.jpg
