@use "./never-built";

@use "pkg:@fontsource-utils/scss" as fontsource;
@use "pkg:@fontsource-variable/roboto-mono/scss" as roboto-mono;

@include fontsource.faces(
  $metadata: roboto-mono.$metadata,
  $subsets: latin,
  $weights: (
    300,
    400,
    600,
    800
  ),
  $styles: all
);

body {
  margin: 0;
}

#map {
  height: 100vh;
  width: 100vw;
}
