{{- $context := . -}}
{{- $addAnimationClasses := false -}}
{{- $animationClassPrefix := "" -}}
{{- if and (reflect.IsMap .) (isset . "context") -}}
  {{- $context = .context -}}
  {{- if and (reflect.IsMap .) (isset . "animate") -}}
    {{- $addAnimationClasses = .animate -}}
    {{- end -}}
  {{- if and (reflect.IsMap .) (isset . "animatePrefix") -}}
    {{- $animationClassPrefix = .animatePrefix -}}
  {{- end -}}
{{- end -}}
{{-  $classes := slice "even" "odd" -}}

{{- $animationClass := "" -}}
{{- if $addAnimationClasses -}}
  {{- $animationClass = partial "scrollify/class-resolver.html" (printf "%scontent-container" $animationClassPrefix) -}}
{{- end -}}
<div class="content-container {{ $animationClass }}">
  {{-  if $context.Truncated -}}
    {{- $blocks := slice "" -}}
    {{- $block := slice -}}
    {{- range (split $context.RawContent "\n") -}}
      {{- $line := . -}}
      {{- if strings.Contains $line "<!--more-->" -}}
        {{- $matches := findRESubmatch `(?m)^(.*?)<!--more-->(.*)$` $line -}}
        {{- $prefix := index (index $matches 0) 1 -}}
        {{- $suffix := index (index $matches 0) 2 -}}
        {{- if ne $prefix "" -}}
          {{- $block = $block | append $prefix -}}
        {{- end -}}
        {{- $blocks = $blocks | append (slice $block) -}}
        {{- $block = slice -}}
        {{- if and (ne $suffix "") (ne $suffix "\n") -}}
          {{- $block = $block | append $suffix -}}
        {{- end -}}
      {{- else -}}
        {{- if hasPrefix $line "#" -}}
          {{- if not (and (eq (len $block) 1) (eq (index $block 0) "")) -}}
            {{- if eq (len $blocks) 1 -}}
              {{- $blocks = $blocks | append (slice $block) -}}
            {{- else -}}
              {{- $blocks = $blocks | append $block -}}
            {{- end -}}
          {{- end -}}
          {{- $block = slice -}}
        {{- end -}}
        {{- $block = $block | append $line -}}
      {{- end -}}
    {{- end -}}
    {{- $blocks = $blocks | append $block -}}


    {{- range $i, $block := $blocks -}}
      {{- if eq $i 0 -}}
        {{- continue -}}
      {{- end -}}
      {{- $counter := sub $i 1 -}}
      {{- $class := index $classes (mod $counter 2) -}}
      {{- $section := delimit . "\n" -}}
      {{- $sectionHTML := $section | $context.RenderString (dict "display" "block" "markup" "markdown") -}}
      {{- if eq (strings.TrimSpace $sectionHTML) (strings.TrimSpace $context.Summary) -}}
        {{- $class = printf "%s summary" $class -}}
      {{- end -}}
        {{- $animationClass := "" -}}
        {{- if $addAnimationClasses -}}
          {{- $animationClass = partial "scrollify/class-resolver.html" (printf "%scontent-section" $animationClassPrefix) -}}
        {{- end -}}
        
        <div class="content-section {{ $class }} {{ printf "content-section-%d" $counter }} {{ $animationClass }}">
          {{- $sectionHTML | safeHTML -}}
        </div>
    {{- end -}}
  {{- else -}}
    {{- $animationClass := "" -}}
    {{- if $addAnimationClasses -}}
      {{- $animationClass = partial "scrollify/class-resolver.html" (printf "%scontent-summary" $animationClassPrefix) -}}
    {{- end -}}
    <div class="summary {{ $animationClass }}">
      {{- $context.Summary -}}
    </div>
  {{-  end -}}
</div>
