{{- $previewSize := "1536x" -}}
<div class="featured">
  {{- $pages := .Site.RegularPages -}}
  {{- $pages = where $pages "Params.featured" "=" true -}}
  {{- $pages = where $pages "Kind" "!=" "section" -}}
  {{- range $page := $pages -}}
    <div class="featured-entry">
      {{- $contextDir := path.Dir .File.Path -}}
      {{- $preview := slice -}}
      {{- with .Params.cover -}}
        {{- if reflect.IsSlice . -}}
          {{- $preview = . -}}
        {{- else -}}
          {{- $preview = slice . -}}
        {{- end -}}
        {{- $preview := slice (index $preview 0) -}}
        {{- range $preview -}}
          {{- with $page.Resources.Get . -}}
            {{ with .Resize $previewSize }}
              <img class="featured-entry-image" src="{{ .RelPermalink }}" alt="{{ i18n "post-preview" }}">
            {{- end -}}
          {{- else -}}
            {{- errorf "[partials/featured.html] Can't find %s for %s" $preview $page.File.Path -}}
          {{- end -}}
        {{- end -}}
      {{- else -}}
        {{- errorf "[partials/featured.html] Can't find $page.Params.cover for %s" $page.File.Path -}}
      {{- end -}}
      {{- with .Summary -}}
        <div class="featured-summary">{{- . -}}</div>
      {{- end -}}
    </div>
  {{- end -}}
</div>
