<div class="list">
    <div class="post">
    {{- $pages := .Pages -}}
    {{- if .IsHome -}}
      {{- $pages = .Site.RegularPages -}}
    {{- end -}}
    {{- $pages = where $pages "Params.metaPage" "!=" true -}}
    {{- $pages = where $pages "Kind" "!=" "section" -}}
    {{- $paginator := .Paginate (where $pages "Params.displayinlist" "!=" false) -}}
    {{- range $paginator.Pages -}}
      {{- partial "list-item.html" . -}}
    {{- end -}}
    </div>
</div>
{{ if or $paginator.HasPrev $paginator.HasNext -}}
<div class="pagination">
  <div class="pagination-links">
    {{- if $paginator.HasPrev -}}
      <a class="pagination-prev no-animation" href="{{ $paginator.Prev.URL }}">&#x276E; {{ i18n "next_page" }}</a>
    {{- end -}}
    {{- if $paginator.HasNext -}}
      <a class="pagination-next no-animation" href="{{ $paginator.Next.URL }}">{{ i18n "previous_page" }} &#x276F;</a>
    {{- end -}}
  </div>
</div>
{{- end -}}
