{{-  $classes := slice "even" "odd" -}}
<div class="list">
  {{- with .Data.Term -}}
    {{- $tag := i18n . -}}
    {{- if eq $tag "" -}}
      {{- $tag = . -}}
    {{- end -}}
    <div class="section-head">
      <h1 class="post-section section-head-title tag-list-title post-title">{{ i18n "Tag" }}: {{ $tag }}</h1>
    </div>
    {{- if ne $.Page.File nil -}}
      {{- if ne $.Content "" -}}
        <div class="tag-list-content">
          {{ $.Content }}
        </div>
      {{- end -}}
    {{- end -}}
  {{- end -}}
  <div class="post">
    {{- $pages := .Pages -}}
    {{- if .IsHome -}}
      {{- $pages = .Site.RegularPages -}}
    {{- end -}}
    {{- $pages = where $pages "Params.metaPage" "!=" true -}}
    {{- $pages = where $pages "Kind" "!=" "section" -}}
    {{- $paginator := .Paginate (where $pages "Params.displayinlist" "!=" false) -}}
    {{- site.Store.Set "currentPaginator" $paginator -}}
    {{- range $i, $item := $paginator.Pages -}}

      {{- $class := index $classes (mod $i 2) -}}
      {{- $item.Store.Set "class" $class -}}
      {{- partial "list-item.html" $item -}}
    {{- end -}}
  </div>
</div>
{{ if or $paginator.HasPrev $paginator.HasNext -}}
<div class="pagination">
  <div class="pagination-links">
    {{- if $paginator.HasPrev -}}
      <a class="pagination-prev no-animation" href="{{ $paginator.Prev.URL }}">&#x276E; {{ i18n "next_page" }}</a>
    {{- end -}}
    {{- if $paginator.HasNext -}}
      <a class="pagination-next no-animation" href="{{ $paginator.Next.URL }}">{{ i18n "previous_page" }} &#x276F;</a>
    {{- end -}}
  </div>
</div>
{{- end -}}
