{{- $classes := slice "even" "odd" -}}
{{- $defaultWidth := 960 -}}
{{- $defaultHeight := 1280 -}}
{{- $fit := printf "%dx%d" $defaultWidth $defaultHeight -}}

{{ $class := .Params.type }}
<div class="post {{ $class }}">
    <div class="content">
      <h1 class="post-title">{{ .Title }}</h1>
      {{- if not .Params.metaPage -}}
        {{- partial "date.html" . -}}
      {{- end -}}

      {{- if and .Truncated (not .Params.metaPage) -}}
        <div class="post-summary">
          {{- .Summary -}}
        </div>
      {{- end -}}

      {{- if not .Params.metaPage -}}
        <div class="featured">
          {{- $previewNames := false -}}
          {{- with .Params.cover -}}
            {{- if reflect.IsSlice . -}}
              {{- $previewNames = . -}}
            {{- else -}}
              {{- $previewNames = slice . -}}
            {{- end -}}
          {{- end -}}

          {{- if $previewNames -}}
            {{- $i := 0 -}}
            {{- $img := index $previewNames $i -}}
            {{/*{{- range $i, $img := $previewNames -}}*/}}
              {{- with $.Resources.GetMatch $img -}}
                  <img class="{{printf "post-featured img-%d" $i}} {{ $class }}" src="{{ (.Fit $fit).RelPermalink }}" data-image-name="{{ $img}}" />
              {{- else -}}
                {{- errorf "[partials/book-toc.html] Can't find file %s/%s" $.Path $img -}}
              {{- end -}}
            {{/* {{- end -}} */}}
          {{- end -}}
        </div>
      {{- end -}}

      <div class="post-body">
        {{- if .Params.geojson -}}
          {{- $geojson := partial "geojson/featureCollection.geojson" (slice .) -}}
          {{- $coordinates := (index .Params.geojson "coordinates") -}}
          {{- $center := slice (index $coordinates 0) (index $coordinates 1) -}}
          {{- partial "maps/projektemacher.html" (dict "context" . "geojson" $geojson "center" $center "minZoom" 12 "initialZoom" 15 "maxZoom" 15 "disabled" true) -}}
        {{- end -}}


        <div class="post-content">
          {{- if not .Params.metaPage -}}
            {{- partial "content.html" . -}}
          {{- else -}}
            {{- .Content -}}
          {{- end -}}
        </div>

      </div>
      <div class="original-pages">
        {{- if .Params.resources -}}
          <h2 class="sub-section-heading">
            {{- if gt (len .Params.resources) 1 -}}
              {{- i18n "originalPages" -}}
            {{- else -}}
              {{- i18n "originalPage" -}}
            {{- end -}}
          </h2>
          {{- if or .Params.iiifcontext .Params.iiif.context -}}
            {{- partial "iiif/iiif-content.html" . -}}
          {{- end -}}
        {{- end -}}
      </div>
    </div>

    {{- if not .Params.metaPage -}}
      <div class="meta">
        {{- if and (ne .CurrentSection.Path "/post") (ne .CurrentSection.Path .Path) -}}
          <h3 class="parent-section-heading">{{ i18n "post-source" }}</h3>
          <div class="parent-section">
            {{ i18n "sectionParent" }}
            <a class="reference" href="{{ .CurrentSection.RelPermalink }}" title="{{ .CurrentSection.Title }}">{{ .CurrentSection.Title }}</a> <a class="reference" href="{{ .CurrentSection.RelPermalink }}" title="{{ .CurrentSection.Title }}"><i class="book-reference"></i></a>
          </div>
        {{- end -}}
        <div class="tag-container">
          <div class="tags-heading">{{ i18n "Tags" }}</div>
          {{ partial "meta/tags.html" . }}
        </div>
      </div>
    {{ end }}
</div>
