{{ $class := .Params.type }}
<div class="post {{ $class }}">
    <div class="content">
      <h1 class="post-title">{{ .Title }}</h1>
      {{- if not .Params.metaPage -}}
        {{- partial "date.html" . -}}
      {{- end -}}

      <div class="post-body">
        <div class="post-content">
          {{ .Content }}
        </div>

        {{- if .Params.geojson -}}
          {{- $geojson := partial "geojson/featureCollection.geojson" (slice .) -}}
          {{- $coordinates := (index .Params.geojson "coordinates") -}}
          {{- $center := slice (index $coordinates 0) (index $coordinates 1) -}}
          {{- partial "maps/projektemacher.html" (dict "context" . "geojson" $geojson "center" $center "debug" true "minZoom" 12 "initialZoom" 13 "maxZoom" 14 "disabled" true) -}}
        {{- end -}}

        {{- if .Params.resources -}}
          <h3 class="sub-section-heading">
            {{- if gt (len .Params.resources) 1 -}}
              {{- i18n "originalPages" -}}
            {{- else -}}
              {{- i18n "originalPage" -}}
            {{- end -}}
          </h3>
          {{- if or .Params.iiifcontext .Params.iiif.context -}}
            {{- partial "iiif/iiif-content.html" . -}}
          {{- end -}}
        {{- end -}}
      </div>
    </div>

    {{- if not .Params.metaPage -}}
      <div class="meta">
        {{- if and (ne .CurrentSection.Path "/post") (ne .CurrentSection.Path .Path) -}}
          <div class="parent-section">
            {{ i18n "sectionParent" }}
            <a class="reference" href="{{ .CurrentSection.RelPermalink }}" title="{{ .CurrentSection.Title }}">{{ .CurrentSection.Title }}</a> <i class="book-reference"></i>
          </div>
        {{- end -}}
        <div class="tag-container">
          <div class="tags-heading">{{ i18n "Tags" }}</div>
          {{ partial "meta/tags.html" . }}
        </div>
      </div>
    {{ end }}
</div>
