<div class="meta">
  {{- if .Params.geojson -}}
    <div class="map">
      {{- $geojson := partial "geojson/featureCollection.geojson" (slice .) -}}
      {{- $marker := false -}}
      {{- $cluster := false -}}
      {{- partial "maps/projektemacher.html" (dict "context" . "geojson" $geojson "cluster" $cluster "marker" $marker) -}}
    </div>
  {{- end -}}
  <div class="date">
    {{- .Date | time.Format ":date_full" -}}
  </div>

  <div class="tags-heading">{{ i18n "Tags" }}</div>
  {{ partial "meta/tags.html" . }}

</div>
