<div class="meta">
  {{- if .Params.geojson -}}
    <div class="map">
      {{- $geojson := partial "geojson/featureCollection.geojson" (slice .) -}}
      {{- $center := slice (index .Params.geojson 0) (index .Params.geojson 1) -}}
      {{- partial "maps/projektemacher.html" (dict "context" . "geojson" $geojson "center" $center "debug" true) -}}
    </div>
  {{- end -}}
  <div class="date">
    {{- .Date | time.Format ":date_full" -}}
  </div>

  <div class="tags-heading">{{ i18n "Tags" }}</div>
  {{ partial "meta/tags.html" . }}

</div>
