<div class="section-meta">
  {{- with .Params.worldcat -}}
    <a href="{{ . }}" title="{{ i18n "worldcat" }}">{{ i18n "worldcat" }}</a>
  {{- end -}}
  {{- $pages := .CurrentSection.RegularPages -}}
  {{- $pages = where $pages "Params.geojson" "ne" nil -}}
  {{- if gt (len $pages) 0 -}}
    <div class="map">
      {{- $geojson := partial "geojson/featureCollection.geojson" $pages -}}
      {{- partial "maps/projektemacher.html" (dict "context" . "geojson" $geojson "debug" true ) -}}
      {{/* "center" "[9.93, 51.55]" */}}
    </div>
  {{- end -}}
<div>
