{{- partial "fonts/css.html" . -}}

{{- $context := .context -}}
{{- $geojson := .geojson -}}
{{- if eq $geojson nil -}}
  {{- $geojson = "undefined" -}}
{{- end -}}
{{- $source := .source -}}
{{- if eq $source nil -}}
  {{- $source = false -}}
{{- end -}}
{{- if and (not $source) site.Params.map site.Params.map.source -}}
  {{- $source = site.Params.map.source -}}
{{- end -}}

{{- $class := .class -}}
{{- if eq $class nil -}}
  {{- $class = "" -}}
{{- end -}}

{{- $style := .style -}}
{{- if eq $style nil -}}
  {{- $style = "undefined" -}}
{{- end -}}
{{- if and (eq $style "undefined") site.Params.map site.Params.map.style -}}
  {{- $style = site.Params.map.style -}}
{{- end -}}
{{- if eq $geojson nil -}}
  {{/* Check if we only got one param, this will be the geojson referece */}}
  {{- $geojson := . -}}
{{- end -}}

{{- $cluster := .cluster -}}
{{- if eq $cluster nil -}}
  {{- $cluster = false -}}
{{- end -}}

{{- $disabled := .disabled -}}
{{- if eq $disabled nil -}}
  {{- $disabled = false -}}
{{- end -}}

{{- $popup := .popup -}}
{{- if eq $popup nil -}}
  {{- $popup = true -}}
{{- end -}}

{{/*  center, initialZoom, maxZoom */}}
{{- $center := .center -}}
{{- if or (eq $center nil) (eq $center false) -}}
  {{- $center = "undefined" -}}
{{- end -}}

{{- $initialZoom := .initialZoom -}}
{{- if or (eq $initialZoom nil) (eq $initialZoom false) -}}
  {{- $initialZoom = 1 -}}
{{- end -}}

{{- $minZoom := .minZoom -}}
{{- if or (eq $minZoom nil) (eq $minZoom false) -}}
  {{- $minZoom = $initialZoom -}}
{{- end -}}

{{- $maxZoom := .maxZoom -}}
{{- if or (eq $maxZoom nil) (eq $maxZoom false) -}}
  {{- $maxZoom = 15 -}}
{{- end -}}


{{/* See https://openlayers.org/en/latest/apidoc/module-ol_style_Icon.html for options */}}
{{- $marker := .marker -}}
{{- if or (eq $marker nil) (eq $marker false) -}}
  {{- $marker = "undefined" -}}
{{- end -}}
{{- if and (eq $marker "undefined") site.Params.map site.Params.map.marker -}}
  {{- $marker = site.Params.map.marker -}}
{{- end -}}

{{- $bbox := .bbox -}}
{{- if or (eq $bbox nil) (eq $bbox false) -}}
  {{- $bbox = "{}" -}}
{{- end -}}
{{- if and (eq $bbox "{}") site.Params.map site.Params.map.bbox -}}
  {{- $bbox = site.Params.map.bbox -}}
{{- end -}}

{{- $background := .background -}}
{{- if or (eq $background nil) (eq $background false) -}}
  {{- $background = "undefined" -}}
{{- end -}}

{{- $debug := .debug -}}
{{- if eq $debug nil -}}
  {{- $debug = false -}}
{{- end -}}

{{- $id := md5 $geojson -}}
{{- $var := printf "_%s" $id -}}
<div class="map-wrapper {{ $class }}">
  <div class="map" id="{{ $id }}"></div>
  <div id="{{ $id }}-popup" class="ol-popup">
    <a href="#" id="{{ $id }}-popup-closer" class="ol-popup-closer"></a>
    <div id="{{ $id }}-popup-content" class="ol-popup-content"></div>
  </div>
</div>
<script type="text/javascript">
    var {{ $var | safeJS }} = window.projektemacherMap(
      {{ partial "js/type.html" $id | htmlUnescape | safeJS }},
      {{ partial "js/type.html" $geojson | htmlUnescape | safeJS }},
      {{ partial "js/type.html" $source | htmlUnescape | safeJS }},
      {{ partial "js/type.html" $style | htmlUnescape | safeJS }},
      {{ partial "js/type.html" $bbox | htmlUnescape | safeJS }},
      {{ partial "js/type.html" $center | htmlUnescape | safeJS }},
      {{ partial "js/type.html" $initialZoom | htmlUnescape | safeJS }},
      {{ partial "js/type.html" $minZoom | htmlUnescape | safeJS }},
      {{ partial "js/type.html" $maxZoom | htmlUnescape | safeJS }},
      {{ partial "js/type.html" $cluster | htmlUnescape | safeJS }},
      {{ partial "js/type.html" $disabled | htmlUnescape | safeJS }},
      {{ partial "js/type.html" $popup | htmlUnescape | safeJS }},
      {{ partial "js/type.html" $background | htmlUnescape | safeJS }},
      {{ partial "js/type.html" $debug | htmlUnescape | safeJS }},
      {{ partial "js/type.html" $marker | htmlUnescape | safeJS}});
      /*{{ if $marker }}, {{ $marker | safeJS}}  {{ end }});*/
  {{ $var | safeJS }}.then(map => {map.updateSize()});
</script>
